#!/bin/bash

########################################################################
# DO NOT PUT SECRETS IN HERE BECAUSE IT IS IN GIT
########################################################################


# shellcheck disable=SC1091
source "$( poetry env list --full-path | awk '{print $1}' )/bin/activate"

export CHATUI_DB_PATH="$HOME/.cache/chatui.sqlite3"
export CHATUI_BACKEND_URL="http://localhost:9196/v1"

export MODEL_PATH="$HOME/.cache/lm-studio/models/TheBloke/Mixtral-8x7B-Instruct-v0.1-GGUF/mixtral-8x7b-instruct-v0.1.Q4_0.gguf"
