[tool.poetry]
name = "chat-ui"
version = "0.1.0"
description = ""
authors = [
    "James Hodgkinson <james@terminaloutcomes.com>",
]
readme = "README.md"
packages = [
    { include = "chat_ui" },
]

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.95.1"
pydantic = "^1.10.7"
uvicorn = "^0.22.0"
click = "^8.1.3"
fortune-python = "^1.0.3"
itsdangerous = "^2.1.2"
python-multipart = "^0.0.6"

[tool.poetry.group.dev.dependencies]
mypy = "^1.3.0"
black = "^23.3.0"
ruff = "^0.0.265"
pytest = "^7.3.1"
httpx = "^0.24.0"

[tool.poetry.scripts]
chat-ui = "chat_ui.__main__:main"

[tool.ruff]
line-length = 120

[tool.mypy]
plugins = "pydantic.mypy"

[build-system]
requires = [
    "poetry-core",
]
build-backend = "poetry.core.masonry.api"

[project]
name = "chat-ui"
description = ""
version = "0.1.0"
readme = "README.md"
authors = [
    { name = "James Hodgkinson", email = "james@terminaloutcomes.com" },
]
