<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="icon" href="/img/favicon.png" type="image/png" />

    <!-- bootstrap things for styling-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous">
    <!-- allows for the bootstrap UI things-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <!-- icons -->
    <!-- <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> -->

    <title>Chat UI</title>
    <link rel="stylesheet" href="/css/css.css" />
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script
      src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  </head>
  <body>
    <main id="app">
      <div id="app">
        <nav class="navbar navbar-expand navbar-dark bg-dark"
          aria-label="Second navbar example">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Chat UI</a>
            <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarsExample02"
              aria-controls="navbarsExample02"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="nav justify-content-end">

              <!-- <li class="nav-item px-1">
                <button type="button" class="btn btn-light" @click="startPoller"
                  data-id="startBackgroundPolling">
                  Start Job Polling
                </button>
              </li>
              <li class="nav-item px-1">

                <button type="button" class="btn btn-light" @click="stopPoller"
                  data-id="stopBackgroundPolling">
                  Stop Job Polling
                </button>
              </li> -->
              <li class="nav-item px-1">
                <button type="button" class="btn btn-light"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal" id="showNameModal">
                  Settings
                </button>
              </li>

            </ul>
          </div>
        </nav>
        <div class="modal"
          data-bs-backdrop="static" data-bs-keyboard="false"
          id="exampleModal" tabindex="-1" v-if="needsName">
          <form @submit.prevent="saveUserDetails">
            <div
              class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Settings</h5>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal" id="closeModal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-12">
                      <label for="formName" class="form-label">Your name (not
                        used for anything other than tracking!)</label>
                      <input type="text" v-model.lazy.trim="name" id="formName"
                        class="form-control"
                        placeholder="Your name" aria-label="Your name">

                    </div>
                  </div>
                  <div class="row py-4">
                    <div class="col-12">
                      <h3>Debugging Details</h3>
                      <p>User ID:{{userid}}</p>
                      <p>System-wide pending jobs: {{ waitingJobs }}</p>
                    </li>
                  </div>
                </div>

                <div class="row">
                  <div class="col-6" v-if="!isPolling">
                    <button type="button" class="btn btn-success px-2"
                      @click="startPoller"
                      data-id="startBackgroundPolling" v-if="!isPolling">
                      Start Job Polling
                    </button>
                  </div>

                  <div class="col-6" v-if="isPolling">
                    <button type="button" class="btn btn-danger px-2"
                      @click="stopPoller"
                      data-id="stopBackgroundPolling">
                      Stop Job Polling
                    </div>

                    <div class="alert alert-danger"
                      v-if="hasUserModalErrors">{{
                      userModalErrors }}</div> <div
                      class="alert alert-danger"
                      v-if="hasUserModalErrors">{{
                      userModalErrors }}asdfadsf</div>

                  </div>
                </div>
                <div class="modal-footer">
                  <!-- TODO: disable the save button if it's empty -->
                  <button type="submit" class="btn btn-primary">Save
                    changes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- end of the modal -->
        <div class="container-fluid p-4">
          <form name="prompt" id="prompt" @submit.prevent="sendPrompt">
            <div class="row">
              <div class="col-6">

                <div class="mb-3">
                  <label for="name" class="form-label">Your Name</label>
                  <input type="text" id="name"
                    class="form-control form-control-lg"
                    v-model.lazy.trim="name"
                    placeholder="Your name">
                </div>

                <div class="mb-3">
                  <label for="use_case" class="form-label">Use Case</label>
                  <select class="form-select form-select-lg mb-3"
                    id="use_case"
                    v-model="useCase"
                    aria-label=".form-select-lg example">
                    <option value="plain">Plain Requests</option>
                    <option value="prompt_injection">Prompt
                      Injection</option>
                    <option value="sensitive_disclosure">Sensitive
                      Information
                      Disclosure</option>
                    <option value="insecure_output">Insecure Output</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="promptText"
                    class="form-label">Textarea</label>
                  <textarea class="form-control"
                    :class="{'is-invalid': !currentPrompt}"
                    id="promptText" v-model="currentPrompt"></textarea>
                  <div class="invalid-feedback" v-if="!currentPrompt">
                    Please enter a message in the textarea.
                  </div>

                  <div class="mb-3 py-4">
                    <button type="submit" class="btn btn-primary btn-lg">
                      Send
                      message</button>
                  </div>
                </div>
              </div>
              <div class="col-6" v-if="!this.noJobs">
                <h1>Submitted Prompts</h1>

                <ul style="list-style-type: none">
                  <li v-for="job in getJobList" :key="job.id">
                    <div class="card">
                      <div class="card-header py-3">

                        <div
                          style="cursor: pointer; width: 30px; height: 30px; border: 1px solid black; background-color: white; text-align: center"
                          class="float-end mx-2"
                          id="delete_job_{{job.id}}"
                          @click="deleteJob(job.id)">
                          <img src="/img/trash.svg"
                            title="Delete this task"
                            style="cursor: pointer; width: 20px; height: 20px;" />
                        </div>
                        <div
                          style="cursor: pointer; width: 30px; height: 30px; border: 1px solid black; background-color: white; text-align: center"
                          class="float-end"
                          id="refresh_job_{{job.id}}"
                          @click="getJobData(job)">
                          <img src="/img/arrow-clockwise.svg"
                            title="Refresh this task"
                            style="cursor: pointer; width: 20px; height: 20px;" />
                        </div>
                        <span v-if="job.prompt">
                          <h5>Prompt</h5>
                          {{job.prompt}}
                        </span>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3"
                          v-if="job.response">
                          <h5>Response</h5>
                          {{job.response}}
                        </li>
                        <li class="list-group-item">
                          <span class="text-muted" v-if="job.updated">
                            Last Update: {{job.updated}}
                          </span>
                          <span class="text-muted"
                            v-if="!job.updated"><br />
                            Created: {{job.created}}
                          </span>
                          <br />Request type: {{job.request_type}}
                          <!-- <span v-if="job.runtime"><br />
                          Runtime: {{job.runtime}}
                        </span> -->
                          <span v-if="job.runtime"><br />
                            Runtime: {{Math.round(job.runtime)}} seconds
                          </span>
                          <!-- <h6 class="card-subtitle mb-2 text-muted">
                          ID: {{ job.id }}
                        </h6> -->
                          <h6 class="mb-2"
                            :class="colorFromStatus(job.status) ">Status: {{
                            job.status }}<div
                              style="cursor: pointer; width: 30px; height: 30px; border: 1px solid black; background-color: #ffc107; text-align: center"
                              class="my-2 mx-2"
                              id="resubmit_job_{{job.id}}"
                              @click="resubmitJob(job.id)"
                              v-if="job.status=='error'">
                              <img src="/img/arrow-up.svg"
                                title="Re-submit this task"
                                style="cursor: pointer; width: 20px; height: 20px; margin-top: 4px;" />
                            </div></h6>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </form>

        </div>
      </body>
    </main>

    <script src="/js/chatui.js"></script>
  </html>